.button-fixed {
    position: fixed;
    right: 70px;
    bottom: 70px;
    border: none;
    background-color: transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    opacity: 1;
    transition: $transition-duration;
    
    &__hidden {
        opacity: 0;
    }
    &:hover{
        cursor: pointer;
    }
}