.blog {
  &__title {
   padding-top: 40px;
   padding-bottom: 40px;  

   @media (max-width: 376px) {
    padding-left: 0px;
    padding-top: 20px;
    width: 47%;
    padding-right: 142px;
    }
   
}
}

.blog .menu__button {
  @media (max-width: 376px) {
    margin-right: 20px;
    margin-top: -141px;
    margin-bottom: 101px;
    
    }
}





