<div class="popup popup_change-pass">
    <h2 class="common-visually-hidden">Modal Window</h2>
    <button class="popup_close popup_close-change-pass-js">
      <svg width="26" height="26">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
      </svg>
    </button>
    <form name="changePasswordForm" class="form form_change-pass-js">
        <div class="form__fieldset">
            <div class="form__column">
                <label for="change__password_old" class="form__label">Old password<span class="form__required"> *</span></label>
                <input id="change__password_old" class="form__input" type="password" name="oldPassword">
            </div>
        </div>
        <div class="form__fieldset">
            <div class="form__column">
                <label for="change__password_new" class="form__label">New password<span class="form__required"> *</span></label>
                <input id="change__password_new" class="form__input" type="password" name="newPassword">
            </div>
        </div>
        <div class="form__fieldset">
            <div class="form__column">
                <label for="change__password_repeat" class="form__label">Repeat new password<span class="form__required"> *</span></label>
                <input id="change__password_repeat" class="form__input" type="password" name="newPassword">
            </div>
        </div>
        @@include('blocks/button.html', {
            "text":"Change password",
            "type":"submit",
            "class":"button button_form button-change-pass-js"
        })
        @@include('blocks/preloader.html', {
            "class": "change-password-preloader-js"
        })
    </form>
</div>