<footer class="footer container-back">
  <h2 class="footer__title">Contacts</h2>
  <div class="footer__content">
    <p class="footer__text">Want to know more or just chat? You are welcome!</p>
    
    @@include('blocks/button.html', {
      "class":"button button_black button_send-js",
      "type":"button",
      "text": "Send message",
      "form":"send-message"
    })

      <div class="social">
        <ul class="social__list">
          <li><a class="social__item button " href="#" target="_blank" rel="nofollow">Instagram</a></li>
          <li><a class="social__item button" href="https://vk.com/id261578618" target="_blank" rel="nofollow">Vk</a></li>
          <li><a class="social__item button" href="https://web.telegram.org/" target="_blank" rel="nofollow">Telegram</a></li>
          <li><a class="social__item button" href="mailto:l.vladykina@list.ru" target="_blank" rel="nofollow">Mail</a></li>
          <li><a class="social__item button" href="https://github.com/" target="_blank" rel="nofollow">GitHub</a></li>
          <li><a class="social__item button" href="tel:+79278949001" target="_blank" rel="nofollow">Phone</a>
          </li>
        </ul>
      </div>
      <div class="web-design">
        Design by <a class="web-design__link" href="https://dlacademy.ru/" target="_blank" rel="nofollow">DL Academy</a>
      </div>
      <div class="copyr">
        <p>Program code from Lyudmila</p>
      </div>
  </div> 

</footer>
